@import url('https://fonts.googleapis.com/css?family=Asap');

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes transition {
	0% {color: #03a9f4;}
	100% {color: #7217ea;}
}

@keyframes transition2 {
	0% {color: white;}
	100% {color: #7217ea;}
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Asap', sans-serif;
	background-image: url(../images/ricepaper2.png);
}

#exampleModal {
	box-shadow: none;
}

#exampleModal1 {
	box-shadow: none;
}

#modalButtons {
	margin-right: 10px;
	margin-top: 15px;
}

#header {
	border-bottom: 3px solid black;
	box-shadow: 3px 3px 5px #666;
}

#header a:hover {
	animation-name: transition;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
	text-decoration: none;
}

#header img {
	height: 100px;
}

#navigation li {
	margin: 25px 20px;
	font-size: 25px;
}

#navigation li a {
	color: #03a9f4;
}

#slider {
	background-image:url('../images/island.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	height: 675px;
}

#slidercontent {
	color: #fff;
	margin-top: 15%;
	padding: 13px;
	border-radius: 10px;
	background-color: rgba(114,23,234,0.4);
	animation-name: fade;
    animation-duration: 3s;
}

#slidercontent h1 {
	font-size: 35px;
	margin-bottom: 30px;
}
#slidercontent p {
	font-size: 24px;
	text-align: justify;
	margin-bottom: 30px;
}

#slidercontent a {
	padding: 10px;
	border-radius: 10px;
	border: 2px solid black;
	background-color: #fff;
	color: #7217ea;
	font-size: 24px;
}

#slidercontent a:hover {
	text-decoration: none;
	color: #fff;
	background-image: linear-gradient(90deg, rgba(114,23,234,1) 0%, rgba(54,181,255,1) 100%);
}

#offers {
	padding: 25px 0px;
	text-align: center;
	margin-bottom: 25px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.offer .fa {
	font-size: 54px;
	margin: 25px 0px;
}

.offer p {
	font-size: 22px;
}

.offer a {
	font-size: 24px;
	border: 2px solid black;
	padding: 10px;
	border-radius: 10px;
	color: #7217ea;
	box-shadow: 3px 3px 5px #666;
}

.offer a:hover {
	background-image: linear-gradient(90deg, rgba(114,23,234,1) 0%, rgba(54,181,255,1) 100%);
	color: #fff;
	text-decoration: none;
}

#newsletter {
	font-size: 30px;
	text-align: center;
	padding: 15px 0px;
}

#newsletter h2 {
	margin-bottom: 25px;
}

.news {
	border-radius: 15px;
	padding: 10px;
	color: #252525;
}

.news form #email {
	border: 2px solid black;
	border-radius: 5px;
	margin: 15px 0px;
	box-shadow: 3px 3px 5px #666;
	font-size: 20px;
}

.news form #submit {
	border: 2px solid black;
	font-size: 24px;
	padding: 10px;
	border-radius: 10px;
	color: #7217ea;
	margin: 15px 0px;
	box-shadow: 3px 3px 5px #666;
}

.news form #submit:hover {
	color: #fff;
	background-image: linear-gradient(90deg, rgba(114,23,234,1) 0%, rgba(54,181,255,1) 100%);
}

#footer {
	height: 100px;
}

#footer p {
	font-size: 20px;
	margin: 5px 0px;
}

#footer a {
	font-size: 24px;
	margin: 10px 3px;
	color: #fff;
}

#footer a:hover {
	text-decoration: none;
	animation-name: transition2;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

#destinations p {
	font-size: 22px;
}

#destinations h2 {
	margin: 25px 0px;
}

#destinations a {
	font-size: 24px;
	border: 2px solid black;
	padding: 10px;
	border-radius: 10px;
	color: #7217ea;
	margin: 0px 2px;
	box-shadow: 3px 3px 5px #666;
}

#destinations a:hover {
	background-image: linear-gradient(90deg, rgba(114,23,234,1) 0%, rgba(54,181,255,1) 100%);
	color: #fff;
	text-decoration: none;
}

.destination {
	margin-top: 15px;
}

.destination img {
	box-shadow: 5px 5px 5px #444;
}

.destination i {
	font-size: 24px;
	color: #7217ea;
}

#aboutContent {
	font-size: 22px;
}

#aboutImage {
	box-shadow: 5px 5px 5px #444;
	border: 2px black solid;
	border-radius: 5px;
	margin-bottom: 10px;
}

#aboutContent .fa {
	margin-left: 10px;
	color: #03a9f4;
}

#aboutContent .fa:hover {
	text-decoration: none;
	animation-name: transition;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#portfolio {
	border: 2px solid black;
	padding: 10px;
	border-radius: 10px;
	color: #7217ea;
	box-shadow: 3px 3px 5px #666;
}

#portfolio:hover {
	background-image: linear-gradient(90deg, rgba(114,23,234,1) 0%, rgba(54,181,255,1) 100%);
	color: #fff;
	text-decoration: none;
}

@media only screen and (max-width: 576px) {
	#navigation li {font-size: 18px; margin: 25px 7px;}
  }